/* 首页样式 */
body {
    background: var(--body-bg);
    padding-top: 50px;
}

.vote-card {
    padding: 30px;
    margin-top: 80px;
}

.user-info {
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: white;
}

.candidate-description {
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}